PORT=5000

DATABASE_URL="Your_url"

JWT_SECRET="your_key"

JWT_EXPIRES_IN="7d"

BCRYPT_SALT_ROUNDS=10

STRIPE_SECRET_KEY=your_STRIPE_SECRET_KEY

STRIPE_WEBHOOK_SECRET=whsec_a7a5cc1a496ab36c2eca977099b2754e25b7d8cd39599588491c3eb01495fac1

CLIENT_URL=http://localhost:3000
